[submodule "podverse-web"]
	path = podverse-web
  url = https://github.com/podverse/podverse-web.git
  ignore = all
[submodule "podverse-api"]
	path = podverse-api
	url = https://github.com/podverse/podverse-api.git
  ignore = all
[submodule "podverse-ops"]
  path = podverse-ops
  url = https://github.com/podverse/podverse-ops.git
  ignore = all
