node_modules

*.DS_Store

truffle.log

.vscode/terminals.json

**/*.env

**/.envrc

config/google/jwt.keys.json

manticore/data*
manticore/episode_export.csv

utils/translate-json/node_modules

temp

nginx-error.log

proxy/local/certs

.devpod-internal

.frontend-setup
